/* =========================================
   GEM BY FAM
   PREMIUM JEWELRY WEBSITE
========================================= */

:root {
    --cream: #f8f3eb;
    --cream-dark: #eee3d2;
    --gold: #b08a57;
    --gold-light: #d6bd94;
    --brown: #3e3025;
    --white: #ffffff;
    --black: #211b17;
    --shadow: 0 12px 35px rgba(62, 48, 37, 0.12);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: var(--cream);
    color: var(--brown);
    overflow-x: hidden;
}

img {
    display: block;
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}


/* =========================================
   HEADER
========================================= */

.header {
    height: 82px;
    background: rgba(248, 243, 235, 0.97);
    border-bottom: 1px solid rgba(176, 138, 87, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-g {
    width: 44px;
    height: 44px;
    border: 1px solid var(--gold);
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-family: Georgia, serif;
    font-size: 28px;
    color: var(--gold);
}

.logo-text {
    display: flex;
    flex-direction: column;
    line-height: 1;
}

.logo-text strong {
    font-family: Georgia, serif;
    font-size: 19px;
    letter-spacing: 2px;
}

.logo-text small {
    font-size: 8px;
    letter-spacing: 3px;
    margin-top: 5px;
    color: var(--gold);
}

.navbar {
    display: flex;
    align-items: center;
    gap: 25px;
}

.navbar a {
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: 0.3s;
    font-weight: 600;
}

.navbar a:hover {
    color: var(--gold);
}

.header-icons {
    display: flex;
    gap: 8px;
}

.icon-btn {
    border: none;
    background: transparent;
    font-size: 25px;
    color: var(--brown);
    position: relative;
}
.cart-button{
    position: relative;
    cursor:pointer;
    pointer-events: auto;
}
.cart-button span {
    position: absolute;
    top: -5px;
    right: -7px;
    width: 17px;
    height: 17px;
    background: var(--gold);
    color: white;
    border-radius: 50%;
    font-size: 10px;
    display: grid;
    place-items: center;
}


/* =========================================
   SEARCH
========================================= */

.search-box {
    position: absolute;
    top: 75px;
    right: 20px;
    width: min(350px, 90vw);
    padding: 12px;
    background: white;
    box-shadow: var(--shadow);
    z-index: 1100;
    display: none;
}

.search-box.show {
    display: block;
}

.search-box input {
    width: 100%;
    border: 1px solid var(--cream-dark);
    padding: 13px;
    outline: none;
    z-index:1101;
    cursor:text;
    box-sizing: border-box;
}

.search-box button {
    width: 45px;
    border: none;
    background: var(--brown);
    color: white;
    cursor:pointer;
}


/* =========================================
   HERO
========================================= */

.hero {
    height: 75vh;
    min-height: 480px;
    position: relative;
    overflow: hidden;
    background: var(--brown);
}

.hero-slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
}

.hero-slide.active {
    opacity: 1;
    visibility: visible;

}

.hero-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        90deg,
        rgba(30, 22, 17, 0.72),
        rgba(30, 22, 17, 0.20),
        rgba(30, 22, 17, 0.15)
    );
}

.hero-content {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    color: white;
    max-width: 800px;
    text-align: center;
    z-index: 2;

}

.small-heading,
.eyebrow {
    color: var(--gold);
    font-size: 12px;
    letter-spacing: 4px;
    font-weight: bold;
}

.hero-content h1 {
    font-family: Georgia, serif;
    font-size: clamp(55px, 8vw, 100px);
    font-weight: normal;
    margin: 12px 0;
    letter-spacing: 2px;
    line-height: 1.1;
}

.hero-content p:not(.small-heading) {
    font-size: 18px;
    margin-bottom: 25px;
}

.hero-btn,
.dark-btn {
    display: inline-block;
    padding: 14px 25px;
    background: white;
    color: var(--brown);
    font-size: 11px;
    letter-spacing: 2px;
    font-weight: bold;
    transition: 0.3s;
    border:none ;
}

.hero-btn:hover {
    background: var(--gold);
    color: white;
}

.slider-dots {
    position: absolute;
    bottom: 28px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 9px;
    z-index: 5;
}

.dot {
    width: 9px;
    height: 9px;
    border: 1px solid white;
    border-radius: 50%;
}

.active-dot {
    background: white;
}


/* =========================================
   INTRO
========================================= */

.intro {
    max-width: 850px;
    margin: auto;
    text-align: center;
    padding: 85px 25px 55px;
}

.intro h2,
.section-heading h2,
.about-content h2,
.contact-section h2,
.cart-box h2 {
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: clamp(30px, 4vw, 48px);
    margin: 10px 0 18px;
}

.intro > p:last-child {
    color: #75685d;
    line-height: 1.9;
}


/* =========================================
   GENERAL SECTIONS
========================================= */

.section {
    padding: 50px 5% 90px;
}

.section-heading {
    text-align: center;
    margin-bottom: 38px;
}

.section-heading > p:last-child {
    color: #806f61;
}


/* =========================================
   CATEGORIES
========================================= */

.category-wrapper {
    position: relative;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 150px;

}
#categories .eyebrow {
    font-size: 15px;
}
.category-container {
    width: 100%;
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding:20px 10px;
    justify-content:center;
    overflow-y:hidden ;

}

.category-container::-webkit-scrollbar {
    display: none;
}

.category-card {
    flex: 0 0 150px;
    text-align: center;
    margin:0;
}

.category-image {
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid white;
    box-shadow: var(--shadow);
    background: white;
}

.category-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display:block;
    box-sizing:border-box;
}

.category-card:hover img {
    transform: scale(1.08);
}

.category-card h3 {
    margin-top: 13px;
    font-family: Georgia, serif;
    font-size: 20px;
    font-weight: normal;
}


.category-left {
    left: 0;
}

.category-right {
    right: 0;
}


/* =========================================
   PRODUCT SECTIONS
========================================= */

.product-section {
    padding: 70px 5%;
}

.product-section:nth-child(even) {
    background: #f3eadf;
}

.products-wrapper {
    position: relative;
    width: 100%;
    margin:0;
    padding:0;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    overflow:visible;
box-sizing:border-box;
    
    gap: 8px;
}



.product-card {
width:100% ;
min-width:0;
margin:0;
padding:0;
border-radius:4px;
}

.product-image {
    width:100%;
    aspect-ratio: 1/1;
    margin:0;
    padding:8px;
    overflow:hidden;
    border-radius:4px;
    position:relative;

}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display:block;



}

.tag {
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 2;
    background: var(--brown);
    color: white;
    padding: 7px 10px;
    font-size: 8px;
    letter-spacing: 1px;
}

.product-info {
    padding: 20px;
}

.product-info h3 {
    font-family: Georgia, serif;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 8px;
}

.product-info p {
    color: #82756b;
    font-size: 12px;
    line-height: 1.6;
    min-height: 40px;
}

.product-info strong {
    display: block;
    color: var(--gold);
    margin: 13px 0;
    font-size: 16px;
}

.add-cart {
    width: 100%;
    border: 1px solid var(--brown);
    background: transparent;
    padding: 11px;
    color: var(--brown);
    font-size: 10px;
    letter-spacing: 1px;
    transition: 0.3s;
    z-index: 100;
    cursor: pointer;
    pointer-events: auto;
}

.add-cart:hover {
    background: var(--brown);
    color: white;
}

.product-arrow.prev {
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.product-arrow.next {
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}


/* =========================================
   REVIEWS
========================================= */

.reviews-section {
    padding: 90px 5%;
    background: var(--cream);
}

.reviews-grid {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
}

.review-card {
    background: white;
    padding: 10px;
    box-shadow: var(--shadow);
    min-height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-card img {
    width: 90%;
    height: 300px;
    object-fit: cover;
    display: block;
    background:#ffffff;
}


/* =========================================
   ABOUT
========================================= */

.about-section {
    display: grid;
    grid-template-columns: 1fr ;
    min-height: 570px;
    background: #eee3d2;
}

.about-image {
    min-height: 500px;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-content {
    padding: 80px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-content h2 {
    font-size: clamp(35px, 4vw, 55px);
}

.about-content p:not(.eyebrow) {
    color: #74675d;
    line-height: 1.8;
    margin-bottom: 15px;
}

.dark-btn {
    background: var(--brown);
    color: white;
    width: fit-content;
    margin-top: 15px;
}


/* =========================================
   CONTACT
========================================= */

.contact-section {
    padding: 90px 5%;
}

.contact-grid {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
}

.contact-card {
    background: white;
    text-align: center;
    padding: 35px 15px;
    box-shadow: var(--shadow);
}

.contact-icon {
    font-size: 27px;
    margin-bottom: 15px;
}

.contact-card h3 {
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 10px;
}

.contact-card p,
.contact-card a {
    font-size: 13px;
    color: #75685d;
}

.contact-card a:hover {
    color: var(--gold);
}


/* =========================================
   INFO STRIP
========================================= */

.info-strip {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: var(--brown);
    color: white;
    padding: 35px 5%;
    text-align: center;
}

.info-strip div {
    border-right: 1px solid rgba(255,255,255,0.2);
}

.info-strip div:last-child {
    border-right: none;
}

.info-strip strong,
.info-strip span {
    display: block;
}

.info-strip strong {
    font-size: 11px;
    letter-spacing: 2px;
    color: var(--gold-light);
    margin-bottom: 8px;
}

.info-strip span {
    font-size: 13px;
}


/* =========================================
   FOOTER
========================================= */

.footer {
    background: #2a211b;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

.footer-logo {
    font-family: Georgia, serif;
    letter-spacing: 4px;
    font-size: 23px;
    margin-bottom: 12px;
}

.footer p {
    color: #c9bdb1;
    font-size: 12px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 25px 0;
}

.footer-links a {
    font-size: 12px;
}

.footer-links a:hover {
    color: var(--gold-light);
}

.copyright {
    border-top: 1px solid rgba(255,255,255,0.1);
    padding-top: 20px;
}


/* =========================================
   WHATSAPP
========================================= */

.whatsapp-float {
    position: fixed;
    right: 22px;
    bottom: 22px;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background: #25D366;
    color: white;
    display: grid;
    place-items: center;
    font-size: 25px;
    z-index: 1200;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}


/* =========================================
   CART MODAL
========================================= */

.cart-modal {
    position: fixed;
    inset: 0;
    background: rgba(30,20,15,0.65);
    z-index: 2000;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.cart-modal.show {
    display: flex;
}

.cart-box {
    background: var(--cream);
    width: min(500px, 100%);
    max-height: 80vh;
    overflow-y: auto;
    padding: 35px;
    position: relative;
}

.close-cart {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    background: transparent;
    font-size: 20px;
}

.cart-box h2 {
    font-size: 35px;
}

.cart-item {
    padding: 15px 0;
    border-bottom: none;
    font-size: 14px;
    display:flex ;
    border-bottom: none;
    justify-content: space-between;
}
.cart-item::after{
    display:none;
}
.empty-cart {
    padding: 25px 0;
    color: #82756b;
}

.checkout-btn {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    background: var(--brown);
    color: white;
    letter-spacing: 1px;
}
.remove-cart{
    border:none;
    background:transparent;
    color: #3e3025;
    cursor:pointer;
    font-size: 14px;
}

/* =========================================
   RESPONSIVE
========================================= */

@media (max-width: 900px) {

    .navbar {
        display: none;
    }

    .header {
        padding: 0 20px;
    }

    .hero-content {
        left: 7%;
        right: 7%;
    }

    

    .reviews-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-section {
        grid-template-columns: 1fr 1fr;
        
    }

    .about-image {
        height: auto;
        min-height: 500px;
    }
}


@media (max-width: 600px) {

    .header {
        height: 70px;
    }

    .logo-g {
        width: 38px;
        height: 38px;
        font-size: 23px;
    }

    .logo-text strong {
        font-size: 15px;
        letter-spacing: 1px;
    }

    .logo-text small {
        font-size: 6px;
        letter-spacing: 2px;
    }

    .hero {
        height: 50vh;
        min-height: 570px;
        width:100%;
    }

.hero-slide img {
    width: 100%;
    height:100%;
    object-fit:cover;
}
.hero-content {
    width:100%;
    left:50%;
}
    .hero-content h1 {
        font-size: clamp(32px,7vw,45px);
    }

    .hero-content p:not(.small-heading) {
        font-size: 15px;
    }

    .category-container {
        padding-left: 50px;
        padding-right: 15px;
        justify-content:center;
        gap: 15px;
    }

    .category-card {
        flex-basis: 145px;
    }

    .category-image {
        width: 135px;
        height: 135px;
    }

    .product-section {
        padding: 60px 15px;
    }

    .products-container {
    grid-template-columns:repeat(2,1fr);
        gap: 12;
    }

    .product-card {
        flex-basis: 220px;
        width: 220px;
    }

    .product-image {
        height: 230px;
    }

    .reviews-grid {
        grid-template-columns: 1fr;
    }

    .hero-slide img {
        width: 100%;
        height:100%;
        object-fit:cover;
    }
    .review-card img {
        height: 330px;
    }

    .contact-grid {
        grid-template-columns: 1fr 1fr;
    }

    .info-strip {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .info-strip div {
        border-right: none;
        border-bottom: 1px solid rgba(255,255,255,0.15);
        padding-bottom: 15px;
    }

    .info-strip div:last-child {
        border-bottom: none;
    }

    .footer-links {
        gap: 15px;
        flex-wrap: wrap;
    }
}
/* Shop By Category ke neeche extra gap kam */
.categories-section {
    padding-bottom: 10px !important;
    margin-bottom: 0 !important;
}

/* Necklaces section ko upar lao */
.product-section {
    margin-top: 10px !important;
    padding-top: 10px !important;
}
/* =========================
   PRODUCT IMAGE POPUP
========================= */

.image-popup {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    padding: 20px;
}

.image-popup img {
    max-width: 90%;
    max-height: 85vh;
    width: auto;
    height: auto;
    object-fit: contain;
    background: white;
}

.close-image {
    position: absolute;
    top: 20px;
    right: 25px;
    border: none;
    background: white;
    color: #4a392c;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.intro .eyebrow {
    font-size: 22px;
}
#reviews .eyebrow{
    font-size: 20px;
}
.eyebrow{
    font-size: 12px
}
/* =========================================
   NEW ARRIVALS
   SEPARATE DESIGN
========================================= */

.new-arrivals {
    width: 100%;
    background: #eee3d2;
    padding: 50px 0;
    overflow: hidden;
}


/* ---------- HEADING ---------- */

.new-arrivals-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    margin-bottom: 35px;
}

.new-arrivals-heading h2 {
    font-family: Georgia, serif;
    font-size: clamp(32px, 4vw, 48px);
    font-weight: normal;
    color: var(--brown);
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.new-arrivals-heading span {
    color: var(--gold);
    font-size: 30px;
}


/* ---------- WRAPPER ---------- */

.new-arrivals-wrapper {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 55px;
}


/* ---------- HORIZONTAL CONTAINER ---------- */

.new-arrivals-container {
    width: 100%;
    display: flex;
    gap: 18px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    padding: 10px 0;
    scroll-padding-left:20px ;
    scroll-padding-right:20px ;
}

.new-arrivals-container::-webkit-scrollbar {
    display: none;
}


/* ---------- CARD ---------- */

.new-card {
    flex: 0 0 230px;
    width: 250px;
    background: var(--white);
    border: 1px solid rgba(176, 138, 87, 0.18);
    box-shadow: 0 8px 25px rgba(62, 48, 37, 0.10);
    scroll-snap-align: start;
    overflow: hidden;
}


/* ---------- IMAGE ---------- */

.new-image {
    width: 100%;
    height: 270px;
    position: relative;
    background: #fff;
    padding: 10px;
}

.new-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


/* ---------- NEW TAG ---------- */

.new-tag {
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 2;
    background: var(--brown);
    color: white;
    padding: 6px 9px;
    font-size: 8px;
    letter-spacing: 1px;
}


/* ---------- INFO ---------- */

.new-info {
    padding: 15px;
    text-align: center;
}

.new-info h3 {
    font-family: Georgia, serif;
    font-size: 17px;
    font-weight: normal;
    min-height: 42px;
    margin-bottom: 7px;
    color: var(--brown);
}

.new-info strong {
    display: block;
    color: var(--gold);
    font-size: 15px;
    margin-bottom: 12px;
}


/* ---------- CART BUTTON ---------- */

.new-info .add-cart {
    width: 100%;
    padding: 9px;
    border: 1px solid var(--brown);
    background: transparent;
    color: var(--brown);
    font-size: 9px;
    letter-spacing: 1px;
    transition: 0.3s;
}

.new-info .add-cart:hover {
    background: var(--brown);
    color: white;
}


/* ---------- SMALL ARROWS ---------- */

.new-arrow {
    position: absolute;
    top: 42%;
    transform: translateY(-50%);
    width: 34px;
    height: 34px;
    border: 1px solid var(--gold);
    border-radius: 50%;
    background: var(--cream);
    color: var(--brown);
    font-size: 25px;
    line-height: 1;
    display: grid;
    place-items: center;
    z-index: 20;
    box-shadow: 0 5px 15px rgba(62, 48, 37, 0.15);
}

.new-arrow:hover {
    background: var(--brown);
    color: white;
}

.new-left {
    left: 8px;
}

.new-right {
    right: 8px;
}


/* =========================================
   NEW ARRIVALS MOBILE
========================================= */

@media (max-width: 600px) {

    .new-arrivals {
        padding: 45px 0 50px;
    }

    .new-arrivals-heading {
        margin-bottom: 25px;
        gap: 9px;
    }

    .new-arrivals-heading h2 {
        font-size: 30px;
        letter-spacing: 1px;
    }

    .new-arrivals-heading span {
        font-size: 14px;
    }

    .new-arrivals-wrapper {
        padding: 0 38px;
    }

    .new-arrivals-container {
        gap: 12px;
        padding-bottom: 15px;
        scroll-padding-right: 180px;
        padding-left:15px; 
        padding-right:15px ;
    }

    .new-card {
        flex: 0 0 185px;
        width: 185px;
    }

    .new-image {
        height: 190px;
        padding: 8px;
    }

    .new-info {
        padding: 12px;
    }

    .new-info h3 {
        font-size: 15px;
        min-height: 38px;
    }

    .new-info strong {
        font-size: 14px;
    }

    .new-arrow {
        width: 30px;
        height: 30px;
        font-size: 22px;
    }

    .new-left {
        left: 5px;
    }

    .new-right {
        right: 5px;
    }
    

}
/* BRACELETS SECTION - WHITE */
section#bracelets
{
    background: #f8f3eb !important;
}

section#bracelets .products-wrapper {
    background: #f8f3eb !important;
}

section#bracelets .products-container {
    background: #f8f3eb !important;
}
 
#rings .section-heading h2{
    font-size: 50px;
}
#bracelets .section-heading h2{
    font-size: 50px;
}
#bracelets .section-heading p{
    font-size: 14px;
}
#ringproducts .product-info p {
    color:3e3025;
}